TestProjekt/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ballingfirst1.cloudapp.net/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Bevaegelser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Dato" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Temperatur" type="xs:decimal" />
      <xs:element minOccurs="0" name="Tidspunkt" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bevaegelser" nillable="true" type="tns:Bevaegelser" />
  <xs:complexType name="ArrayOfBevaegelser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bevaegelser" nillable="true" type="tns:Bevaegelser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBevaegelser" nillable="true" type="tns:ArrayOfBevaegelser" />
  <xs:complexType name="Brugere">
    <xs:sequence>
      <xs:element minOccurs="0" name="Brugernavn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Brugere" nillable="true" type="tns:Brugere" />
  <xs:complexType name="ArrayOfPolitistatistik">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Politistatistik" nillable="true" type="tns:Politistatistik" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPolitistatistik" nillable="true" type="tns:ArrayOfPolitistatistik" />
  <xs:complexType name="Politistatistik">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aar" type="xs:int" />
      <xs:element minOccurs="0" name="Indbrud" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Politistatistik" nillable="true" type="tns:Politistatistik" />
</xs:schema>